body {
	position: relative;
	margin: 0;
	padding: 0;
	-webkit-transform: translateZ(0);
}


  /* Parallax base styles
  --------------------------------------------- */
  .parallax-container {
  }

  .parallax {
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    overflow-y: scroll;
    -webkit-perspective: 1px;
    perspective: 1px;
  }

  .parallax__layer {
    position: absolute;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
	backface-visibility: hidden;
  }



  .parallax {
    font-size: 200%;
  }

  .parallax__layer {
    padding: 100vh 0;
    
  }

  .content-cover {
	margin-top: 30%;
	width: 100%;
	height: 100%;
	background-color: #0f1629;
}


@media screen and (-webkit-min-device-pixel-ratio:0) {  

#keyart-1 {
	transform: translateZ(0);
}

#keyart-2 {
	-webkit-transform: translate3d(0, 0, -1px) scale(2);
}

#keyart-3 {
	-webkit-transform: translate3d(0, 0, -4px) scale(5);
	margin-top: 100vh;
}

#keyart-4 {
	-webkit-transform: translate3d(0, 0, -5px) scale(6);
}

#keyart-5 {
	-webkit-transform: translate3d(0, 0, -7px) scale(8);
}

#keyart-6 {
	-webkit-transform: translate3d(0, 0, -10px) scale(11);
}

#keyart-7 {
	-webkit-transform: translate3d(0, 0, -12px) scale(13);
}
}



#keyart-1 {
	background-image: url('./images/troika.png');
	background-position: 50% 60%;
	padding: 110vh 0;

}

#keyart-2 {
	background-image: url('./images/3.png ');
}

#keyart-3 {
	background-image: url('./images/4.png');
	
}

#keyart-4 {
	background-image: url('./images/5.png');
	margin-bottom: 500vh;
}

#keyart-5 {
	background-image: url('./images/6.png');
}

#keyart-6 {
	background-image: url('./images/tower.png');
}

#keyart-7 {
	background-image: url('./images/the-sky-may-be.png');
}

#dummy-block {
	display: grid;
	z-index: 99;
	background: #2e1a1f;
	min-height: 1500px;
	position: relative;
	padding-top: 200px;
	}
