body {
	position: relative;
	margin: 0;
	padding: 0;
}

#parallax {
	display: block;
	background-color: #f0ffff;
}

.keyart_layer {
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	object-fit: fill;
	position: absolute;
	min-width: 100%;
    min-height: 100%;
}

.keyart {
	position: relative;
	z-index: 11;
}

.keyart, .keyart_layer {
	height: 125vh;
}

#page {
	display:flex; 
	flex-direction: column;
}

#keyart-1 {
	background-image: url('./images/1-troika.png');
	background-position: 50% 60%;
}

#keyart-2 {
	background-image: url('./images/2-powerline.png ');
	background-position: 50% 60%;
}

#keyart-3 {
	background-image: url('./images/3-frametrower.png');
	background-position: 50% 60%;
}

#keyart-4 {
	background-image: url('./images/4-laserhole.png');
	
}

#keyart-5 {
	background-image: url('./images/5-waveI.png');
}

#keyart-6 {
	background-image: url('./images/6-waveII.png');
}

#keyart-7 {
	background-image: url('./images/7-waveIII.png');
}

#keyart-8 {
	background-image: url('./images/8-corpo.png');
}

#keyart-9 {
	background-image: url('./images/9-waveIV.png');
}

#keyart-10 {
	background-image: url('./images/10-clouds.png');
}

#keyart-11 {
	background-image: url('./images/11-sky_may_be.png');
}

#dummy-block {
	z-index: 99;
	background: #2e1a1f;
	min-height: 1500px;
	position: relative;
	}
	